/* -------------------------
:: 4.0 Service Area
------------------------- */

.mosh-service-slides {
  position: relative;
  z-index: 1;
  height: 24.4rem;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  transform: translate3d(0px, 0px, 0px);
  box-sizing: border-box;
  touch-action: pan-y pinch-zoom;
}

.single-service-area h2 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  color: #bec0cc;
}

.mosh-service-slides .center .single-service-area h2,
.single-service-area:hover h2 {
  color: #4a7aec;
}
.single-service-area h4 {
  margin-bottom: 20px;
}

.mosh-service-slides .owl-prev,
.mosh-service-slides .owl-next {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 50px;
  text-align: center;
  top: 50%;
  margin-top: -30px;
  left: -25px;
  border-radius: 50%;
  color: #a2baff;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.mosh-service-slides .owl-next {
  left: auto;
  right: -25px;
}
