/* --------------------------
:: 3.0 Welcome Area CSS
-------------------------- */

.welcome_area {
  position: relative;
  z-index: 2;
  height: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero-slides {
  position: relative;
  z-index: 2;
}

.single-hero-slide {
  height: 1200px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.hero-slide-content h2 {
  font-size: 60px;
  color: #fff;
  line-height: 1.8;
}

.hero-slide-content h4 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
}

.hero-slide-content .slide-img {
  color: #fff;
  margin-top: 100px;
  font-weight: 400;
}

.hero-slides .owl-prev,
.hero-slides .owl-next {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  line-height: 60px;
  text-align: center;
  top: 50%;
  margin-top: -30px;
  left: 50px;
  border-radius: 50%;
  color: #a2baff;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.hero-slides .owl-next {
  left: auto;
  right: 50px;
}

.hero-slides .owl-prev:hover,
.hero-slides .owl-next:hover {
  background-color: #4a7aec;
}
